MONG_URL=mongodb+srv://username:password@cluster0.yh2j7gk.mongodb.net/tour-management
JWT_SECRET="chuoi_ngau_nhien"
EMAIL=''
PASSWORD=''
SECURE="false" 
CLOUD_NAME=''
API_KEY=''
API_SECRET=''
ZALOPAY_APPID="2554"
ZALOPAY_KEY1="sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn"
ZALOPAY_KEY2="trMrHtvjo6myautxDUiAcYsVtaeQ8nhf"
ZALOPAY_DOMAIN="https://sb-openapi.zalopay.vn"
DOMAIN_WEBSITE="https://abc.com"