select(filter-price)
    option(value="") Mức giá
    option(value="0-2000000") Dưới 2tr
    option(value="2000000-4000000") 2tr đến 4tr
    option(value="4000000-8000000") 4tr đến 8tr
    option(value="8000000-100000000000000") Trên 8tr